<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayu.management.module.group.mapper.GroupMapper">


    <insert id="insert" parameterType="com.dayu.management.module.group.model.Group">
        insert into "group" (id,"name","type","parentId")
        values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id},#{item.name},#{item.type},#{item.parentId}
        </foreach>
    </insert>

    <update id="update" parameterType="com.dayu.management.module.group.model.Group">
        <foreach collection="list" item="item">
            update
            "group"
            <set>
                <if test="item.name!=null and item.name!=''">
                    "name"=#{item.name},
                </if>
                <if test="item.parentId!=null and item.parentId!=''">
                    "parentId"=#{item.parentId},
                </if>
            </set>
            where 1=1 and id=#{id}
        </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from "group" where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" parameterType="java.util.Map"
            resultType="com.dayu.management.module.group.model.Group">
        select
        id,"name","type","parentId"
        from
        "group"
        where 1=1
        <if test="parentId!=null and parentId!=''">
            and "parentId"=#{parentId}
        </if>
        <if test="type!=null and type!=0">
            and "type"=#{type}
        </if>
        limit #{size} offset #{start} * #{size}
    </select>

    <select id="selectByParentId" resultType="com.dayu.management.module.group.model.TreeNode">
        SELECT
        "id",
        "name",
        "parentId",
        1 "nodeType",
        -1 "type",
        -1 "func"
        FROM
        "group"
        WHERE
        1 = 1
        AND "parentId" in
        <foreach collection="list" item="parentId" separator=",">#{parentId}</foreach>
        UNION
        SELECT
        s."id",
        s."name",
        "groupId" "parentId",
        2 "nodeType",
        s."type",
        s."func" "func"
        FROM
        group_sensor_relation r,
        sensor s
        WHERE
        1 = 1
        AND s."id" = r."sensorId"
        AND "groupId" in
        <foreach collection="list" item="parentId" separator=",">#{parentId}</foreach>
    </select>

    <select id="selectByNodeId" resultType="com.dayu.management.module.group.model.TreeNode">
        SELECT
        s."id",
        s."name",
        "groupId" "parentId",
        2 "nodeType",
        s."type",
        s."func" "func"
        FROM
        group_sensor_relation r,
        sensor s
        WHERE
        1 = 1
        AND s."id" = r."sensorId"
        AND "id" IN(<foreach collection="list" item="nodeId" separator=",">#{nodeId}</foreach>)
    </select>

    <select id="selectOnlyLeafByParentId" resultType="com.dayu.management.module.group.model.TreeNode">
        SELECT
        s."id",
        s."name",
        "groupId" "parentId",
        2 "nodeType",
        s."type",
        s."func" "func"
        FROM
        group_sensor_relation r,
        sensor s
        WHERE
        1 = 1
        AND s."id" = r."sensorId"
        AND "groupId" IN(<foreach collection="list" item="parentId" separator=",">#{parentId}</foreach>)
    </select>

</mapper>