<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayu.management.module.group.mapper.GroupMappers">


    <insert id="insert" parameterType="com.dayu.management.module.group.model.Group">
        insert into "group" (id,"roleId","groupType","nodeId","nodeType","parent")
        values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id},#{item.roleId},#{item.groupType},#{item.nodeId},#{item.nodeType},#{item.parent}
        </foreach>;
    </insert>

    <update id="update" parameterType="com.dayu.management.module.group.model.Group">
        <foreach collection="list" item="item">
            update
            "group"
            <set>
                <if test="item.roleId!=null and item.roleId!=''">
                    "roleId"=#{item.roleId},
                </if>
                <if test="item.groupType!=null and item.groupType!=''">
                    "groupType"=#{item.groupType},
                </if>
            </set>
            where 1=1 and id=#{id}
        </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from "group" where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" parameterType="java.util.Map"
            resultType="com.dayu.management.module.group.model.Group">
        select
        id,"roleId","groupType","nodeId","nodeType","parent"
        from
        "group"
        where 1=1
        <if test="parent!=null and parent!=''">
            and parent=#{parent}
        </if>
        <if test="nodeType!=null and nodeType!=''">
            and "nodeType"=#{nodeType}
        </if>
        <if test="roleId!=null and roleId!=''">
            and "roleId"=#{roleId}
        </if>
        <if test="groupType!=null and groupType!=''">
            and "groupType"=#{groupType}
        </if>
        limit #{size} offset #{start} * #{size}
    </select>

    <select id="selectByParentId" resultType="com.dayu.management.module.group.model.TreeNode">
        SELECT
        "id",
        "name",
        "parentId",
        1 "nodeType",
        -1 "type",
        -1 "func"
        FROM
        "group"
        WHERE
        1 = 1
        AND "parentId" in
        <foreach collection="list" item="parentId" separator=",">#{parentId}</foreach>
        UNION
        SELECT
        s."id",
        s."name",
        "groupId" "parentId",
        2 "nodeType",
        s."type",
        s."subtype" "func"
        FROM
        group_sensor_relation r,
        sensor s
        WHERE
        1 = 1
        AND s."id" = r."sensorId"
        AND "groupId" in
        <foreach collection="list" item="parentId" separator=",">#{parentId}</foreach>
    </select>

    <select id="selectByNodeId" resultType="com.dayu.management.module.group.model.TreeNode">
        SELECT
        s."id",
        s."name",
        "groupId" "parentId",
        2 "nodeType",
        s."type",
        s."subtype" "func"
        FROM
        group_sensor_relation r,
        sensor s
        WHERE
        1 = 1
        AND s."id" = r."sensorId"
        AND "id" IN(<foreach collection="list" item="nodeId" separator=",">#{nodeId}</foreach>)
    </select>

    <select id="selectOnlyLeafByParentId" resultType="com.dayu.management.module.group.model.TreeNode">
        SELECT
        s."id",
        s."name",
        "groupId" "parentId",
        2 "nodeType",
        s."type",
        s."subtype" "func"
        FROM
        group_sensor_relation r,
        sensor s
        WHERE
        1 = 1
        AND s."id" = r."sensorId"
        AND "groupId" IN(<foreach collection="list" item="parentId" separator=",">#{parentId}</foreach>)
    </select>

</mapper>