<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayu.management.module.sensor.mapper.SensorMapper">


    <insert id="insert" parameterType="com.dayu.management.module.sensor.model.Sensor">
        insert into sensor (id,gid,name,address,"areaNumber","dominionCode",type,"func","deriveId")
        values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id},#{item.gid},#{item.name},#{item.address},#{item.areaNumber},#{item.dominionCode},#{item.type},#{item.func},#{item.deriveId}
        </foreach>;
    </insert>

    <update id="update" parameterType="com.dayu.management.module.sensor.model.Sensor">
        <foreach collection="list" item="item">
            update
            sensor
            <set>
                <if test="item.gid!=null and item.gid!=''">
                    gid=#{item.gid},
                </if>
                <if test="item.name!=null and item.name!=''">
                    name=#{item.name},
                </if>
                <if test="item.address!=null and item.address!=''">
                    address=#{item.address},
                </if>
                <if test="item.areaNumber!=null and item.areaNumber!=''">
                    "areaNumber"=#{item.areaNumber},
                </if>
                <if test="item.dominionCode!=null and item.dominionCode!=''">
                    "dominionCode"=#{item.dominionCode},
                </if>
                <if test="item.type!=null and item.type!=null">
                    type=#{item.type},
                </if>
                <if test="item.func!=null and item.func!=0">
                    "func"=#{item.func},
                </if>
            </set>
            where 1=1 and id=#{id}
        </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from sensor where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" parameterType="com.dayu.management.core.Query">
        select
        id,
        gid,
        name,
        "areaNumber",
        "dominionCode",
        type,
        "func",
        "deriveId"
        from
        sensor
        where 1=1
        <if test="id !=null and id!=''">
            and id=#{id}
        </if>
        <if test="name!=null and name!=''">
            and name like "%name%"
        </if>
        <if test="type!=0">
            and type=#{type}
        </if>
        <if test="func!=0">
            and "func"=#{func}
        </if>
        <if test="areaNumber!=0">
            and "areaNumber"=#{areaNumber}
        </if>
        <if test="dominionCode!=0">
            and "dominionCode"=#{dominionCode}
        </if>
        limit #{size} offset #{start} * #{size}
    </select>

</mapper>