<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayu.management.module.sensor.mapper.SensorMapper">


    <insert id="insert" parameterType="com.dayu.management.module.sensor.model.Sensor">
        insert into sensor (id,gid,name,address,"areaNumber","dominionCode",type,"func","deriveId")
        values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id},#{item.gid},#{item.name},#{item.address},#{item.areaNumber},#{item.dominionCode},#{item.type},#{item.func},#{item.deriveId}
        </foreach>;
    </insert>

    <update id="update" parameterType="com.dayu.management.module.sensor.model.Sensor">
        <foreach collection="list" item="item">
            update
            sensor
            <set>
                <if test="item.gid!=null and item.gid!=''">
                    gid=#{item.gid},
                </if>
                <if test="item.name!=null and item.name!=''">
                    name=#{item.name},
                </if>
                <if test="item.address!=null and item.address!=''">
                    address=#{item.address},
                </if>
                <if test="item.areaNumber!=null and item.areaNumber!=''">
                    "areaNumber"=#{item.areaNumber},
                </if>
                <if test="item.dominionCode!=null and item.dominionCode!=''">
                    "dominionCode"=#{item.dominionCode},
                </if>
                <if test="item.type!=null and item.type!=null">
                    type=#{item.type},
                </if>
                <if test="item.func!=null and item.func!=0">
                    "func"=#{item.func},
                </if>
            </set>
            where 1=1 and id=#{id}
        </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from sensor where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" parameterType="com.dayu.management.core.Query"
            resultType="com.dayu.management.module.sensor.model.SensorView">
        select
        s."id",
        s."gid",
        s."name",
        s."areaNumber",
        s."dominionCode",
        s."type",
        s."func",
        s."deriveId"
        <if test="allocated!=null">
            ,r."groupId"
        </if>
        from
        sensor s
        <if test="allocated!=null">
            left join group_sensor_relation r on s."id"=r."sensorId"
        </if>
        where 1=1
        <include refid="condition"></include>
        limit #{size} offset #{start} * #{size}
    </select>

    <select id="count" parameterType="com.dayu.management.core.Query" resultType="java.lang.Integer">
        select
        count(0)
        from
        sensor s
        <if test="allocated!=null">
            left join group_sensor_relation r on s."id"=r."sensorId"
        </if>
        where 1=1
        <include refid="condition"></include>
    </select>

    <sql id="condition">
        <if test="allocated!=null and allocated">
            and r."groupId" is not null
        </if>
        <if test="allocated!=null and !allocated">
            and r."groupId" is null
        </if>
        <if test="id !=null and id!=''">
            and s."id"=#{id}
        </if>
        <if test="name!=null and name!=''">
            and s."name" like '%name%'
        </if>
        <if test="type!=0">
            and s."type"=#{type}
        </if>
        <if test="func!=null and func!=0">
            and s."func"=#{func}
        </if>
        <if test="areaNumber!=null and areaNumber!=''">
            and s."areaNumber"=#{areaNumber}
        </if>
        <if test="dominionCode!=null and dominionCode!=''">
            and s."dominionCode"=#{dominionCode}
        </if>
    </sql>

</mapper>