<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dayu.management.module.user.mapper.CertificateMapper">


    <insert id="insert" parameterType="com.dayu.management.module.user.model.Certificate">
        insert into certificate (id,userId,type,value)
        values
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id},#{item.userId},#{item.type},#{item.value}
        </foreach>;
    </insert>

    <update id="update" parameterType="com.dayu.management.module.user.model.Certificate">
        <foreach collection="list" item="item">
            update
            certificate
            <trim suffix=",">
                <if test="item.value!=null and item.value!=''">
                    set value=#{item.value},
                </if>
            </trim>
            where 1=1 and id=#{id}
        </foreach>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from certificate where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="select" parameterType="java.util.Map"
            resultType="com.dayu.management.module.user.model.Certificate">
        select
        id,
        userId,
        type,
        value
        from
        certificate
        where 1=1
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="userId!=null and userId!=''">
            and userId=#{userId}
        </if>
        <if test="type!=0">
            and type=#{type}
        </if>
        limit #{size} offset #{start} * #{size}
    </select>

</mapper>